nav>ul{
    display: flex;
    list-style: none;
}

nav li{
    margin-right: 1em;
    
    color: black;
}

nav li a{
    text-decoration: none;
}

.dropdown{
    position: absolute;
    
}

.dropdown li{
    list-style: none;
    background-color: coral;
    display: none;
}

nav>ul>li:hover>.dropdown li{
    display: block;
}